
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    background-color: #ccc;
}

.top nav {
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    height: 5vh;
    padding-top:3%;
}
    
nav ul {
    margin-left: auto;
    margin-right: auto;
}
    
nav li {
    display: inline-block;
}
    
nav li a {
    font-family: 'Chelsea Market', cursive;
    color: #ff1e4b;
    font-size: 125%;
    text-decoration: none;
}
    
nav li a:hover {
    color: #dd5771;
}


.projects{display:flex;}

h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 300%;
    margin-top:2%;
    margin-bottom:2%
}

.nav1{text-align: center;
      padding:20px;
}

.top{
    width:50%;    
    margin: 0 auto;
    text-align: center;
    padding-bottom:1%;
    padding-top:1%;
}

.titles{
    border: solid; 
        
}

.intro{
    background-color:#d7b3f5;
    max-height: 0%;
}
.intro{
    display:flex;
    justify-content:flex-end;
}
.intro div{
    width:50%;
    margin-right:25%;
}

.middle{
    background-color:#d7b3f5
}

.site{
    border: solid;
    text-align: center;
    
    margin:auto;
    padding-bottom:1%;
}

.site p{margin-bottom:5%;
}

.site{
    font-family: 'Roboto', sans-serif;   
}

h2{
    font-size:200%;
    margin-top:2%;
    font-weight: bold;
}

p{
    text-align: left;
    font-size:125%;
    width:85%;
    margin-left:7%;
    margin-top:2%;
}
    

#myCode{
    padding-top:0;
}

.middle div .projects{
    width:50%;
    margin-right:25%;
}

.projects{
    height:40vh;
    margin: 0 auto;
    text-align: center;
    padding-bottom:1%;
    padding-top:1%;
    border: solid;
}

.proud{display:flex;
    justify-content:center;
    align-items:center;
    padding-left:10%;
}

.proud img{
    margin-left:3%;
    border: solid;
}

.proud div{
    margin-left:10%;
    margin-top:7%;
    margin-bottom:7%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.proud div button{
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    margin-top:15%;
    margin-right:0%;
} 

#special{
    text-align:center;
    font-family:'Chelsea Market', cursive;
    font-size:125%;
    margin-right: 0%;
}


.bottom nav {
    width: 51%;
    margin-left:24%;
    margin-right:26%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100%;
}
footer{
    background-color:#ccc;
    padding-bottom:2%;
}

/*Media Queries*/ 
/*
min-width - is mobile first it's for scaling up
max-width - desktop first - its for scaling down
*/
/*Tablet*/
@media(max-width:800px){

img.me { width: 300px; }
img.john1 {width: 60px;}
img.john2 {width: 60px;}
img.john3 {width: 60px;}
img.john4 {width: 60px;}

#special{
    font-size:71%;
    margin-right:100%;
}

.proud div button{
    margin-right:89%
}

}
/*phone can't delete the width and margin??*/
@media(max-width:500px){
    .bottom nav {
        display: flex;
        justify-content:space-between;
        
        font-size: 80%;
    }
}